@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap'); /* Archivo Font */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); /* Ubuntu Font */

:root{
    --backgroundColor: #0A0A0A;
    --sectionBackground: #1b181f;
    --textColor: white;
    --colorPurple : #7a14ff ;
}

body{
    background-color: var(--backgroundColor);
    color: var(--textColor);
    min-height: 100svh;
    font-family:  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    margin: 0;
    font-family: "Archivo", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
html{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

*{
    scroll-behavior: smooth;
    cursor: default;
}
.purpleText{
    color: var(--colorPurple);
    font-weight: bolder;
    transition: all 0.3s ease-in;
}
.purpleText:hover{
    color: #e0225b;
}

.headingText>.purpleText{
    font-weight: 100;
}

#website{
    margin: 0;
    padding: 5px;
    height: 100%;
    overflow-x: hidden;
    display: grid;
    min-height: 100svh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#website::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
#website {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

a , li{
    list-style: none;
    text-decoration: none;
    color: var(--textColor);
}

header{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
}

.nav-list, .navigation{
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 0;
}

.navigation{
    width: 50%;
}

.nav-list{
    width: 100%;
}

.list-item{
    transition: all 0.3s ease-out;
}
.list-item:hover{
    color: var(--colorPurple);
}

.seperator{
    width: 55%;
    height: 0;
    padding: 0;
    margin-top: 0; 
}

/* Hero Section */
.hero{
    display: flex;
    justify-content: space-around;
}

.text-wrapper{
    margin-top: 5%;
    display: grid;
    justify-items: center;
    width: 50%;
}

.hero-text{
    width: 80%;
}

.headingText{
    font-size: 5rem;
    font-weight: 100;
    padding: 0;
    margin: 0;
    font-family:  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--colorPurple);
    transition: all 0.3s ease-in;
}
.headingText:hover{
    color: #e0225b;
}

.para{
    margin: 1em;
    font-size: 1.3rem;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    line-height: 30px;
    position: relative;
}

.hero-para{
    margin: 30px 0 50px 0;
}

.hero-img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.hero-img{
    width: 50%;
}

/* End of Hero Section */
/* Start of About Page */

#about{
    margin: 15% 0 15% 0 ;
}

.about-wrapper{
    position: relative;
    width: 100%;
    height: 25rem;
    isolation: isolate;
    margin: 40px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-wrapper::after{
    content: '';
    inset: 0;
    margin: 40px 0 20px 0;
    background-color: var(--sectionBackground);
    width: 100%;
    height: 20rem;
    position: absolute;
    z-index: -1;
    transform: skewY(5deg);
}
.about-img{
    width: 40%;
}

.about-text{
    display: grid;
    width: 45%;
    margin: 0 5% 0 0;
}

.about-heading{
    font-size: 2.8rem;
}

.about-img-wrapper{
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#about-img{
    width: 50%;
    height: 75%;
    border-radius: 32% 68% 62% 38% / 42% 62% 38% 58% ;
    background-repeat: no-repeat;
    background-image: url(./assets/images/aboutImg.jpg);
    background-size: 430px;
    background-position: center 60%;
    filter: sepia(0.6);
    border-bottom: 10px solid var(--colorPurple);
    border-left: 10px solid var(--colorPurple);
}

/* End of About Section */

/* Start of Projects Section */

#projects{
    margin: 10% 0 15% 0;
}

.projects-wrapper{
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: stretch;
}

.project-text{
    display: grid;
    width: 70%;
    text-align: center;
    margin: 0 0 3% 0;
}

.project-text>.headingText{
    text-align: center;
}

.project-list-main{
    width: 100%;
    height: 100%;
    background-color: var(--colorPurple);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 7px;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.project-tile{
    position: relative;
    width: 80%;
    height: 10rem;
    background-color: var(--sectionBackground);
    border-radius: 3px;
    display: flex;
    margin: 15px 5px;
    display: flex;
    justify-content: flex-start;
}

.tileText{
    margin: 0 0 0 5%;
    padding: 10px;
    box-sizing: border-box;
    width: 70%;
    display: grid;
    justify-content: space-between;
}

.repoName{
    color: var(--colorPurple);
    font-size: 1.3rem;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin: 0;
}
.repoName:hover{
    text-decoration: underline;
}

.repoDescription{
    font-size: 0.9rem;
    font-weight: 200;
}

.language{
    font-size: 0.9rem;
    color: var(--colorPurple);
}

.btn{
    position: absolute;
    box-sizing: border-box;
    bottom: 10%;
    right: 5%;
    display: flex;
    gap: 10px;
}

.project-btn{
    padding: 10px 20px;
    background-color: var(--colorPurple);
    color: var(--textColor);
    border: none;
    border-radius: 7px;
    font-size: 0.9rem;
    transition: all 0.3s ease-out;
}

.project-btn:hover{
    background-color: var(--textColor);
    color: var(--colorPurple);
}